body {
  background-color:#000033;
  margin:0;
  padding:0;
}

#title_bar {
  font-family:sans;
  background-color:white;
  text-align:center;
  color:#000033;
  position:fixed;
  width:100%;
  bottom:0;
  height:5em;
}

#thoughtful {
  position:fixed;
  bottom:5em;
  right:0;
  max-height:90%;
  max-width:60%;
  z-index:-1; 
}

#message_box {
  position:fixed;
  left:5%;
  top:15%;
  width:40%;
  padding:1em;
  background-color:white;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#tweet_time {
  color:gray;
  font-size:smaller;
}
